.App {
  background-color: rgb(199, 199, 199);
  text-align: center;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Scoreboard {
  background-color: rgb(199, 199, 199);
  color: #505050;
  position: fixed;
  top: 5px;
}

.jumbo {
  float: left;  
  width: 47%;
}

.top {
  top: 0px;
  float: right;
}

.score {
  font-size: calc(12px + 2vmin);
}

.name {
 font-size: calc(10px + 2vmin);
 font-weight: bold;
}

.AdministrationTools {
  background-color: rgb(199, 199, 199);
  position: fixed;
  top: 350px;
}

.form {
  align-items: left;
}

.with-top-margin {
  margin-top: 5x
}

.with-bottom-margin {
  margin-bottom: 5px;
}

.with-left-margin {
  margin-left: 5px;
}

.with-right-margin {
  margin-right: 5px;
}
